  
  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client">
    </script>
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/workouts">View Workouts</a>
      <a href="/workouts/new">Add Workout</a>
      <a href="/auth/logout" class="right">
      <button id="logout">
        <span class="label">Logout</span>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
        </span>
      </button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
