main {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: #bd97da72;
  border: 2px solid rgba(88, 4, 172, 0.642);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 16px;
}

.card:hover {
  background-color: #703e9759 ;
}

div > a {
  color: #44126d;
}


.card-title {
  font-size: 24px;
  margin: 2px 10px;
  font-weight: 50px;
}

.card-text {
  color: #662c96;
}

.btn {
  background-color: #a110c2af;
  color: white;
}