main {
  text-align: center;
}

.workout-details {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
}

section div:nth-child(even) {
  font-weight: bold;
  text-align: left;
}


.table {
  background-color: #cfc7d2ad;
  background-blend-mode: normal;
  box-shadow: 10px 10px 10px #d4cbe5 inset;
}

thead {
  background-color: #bea8aab9;
  box-shadow: 5px 8px 10px #d4cbe5 inset;
}
td {
  margin:50px
}

