main {
  text-align: center;
}

.workout-details {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
}

section div:nth-child(even) {
  font-weight: bold;
  text-align: left;
}

.exercises-form {

}